extends ../layouts/default

.container: .row
	mixin post(post)
		.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			.col.s12.m6.l4.center-align#post
				if post.image.exists
					a(href='/blog/post/' + post.id)
						img.hoverable(src=post._.image.fit(400,400))
				.row.date
						.col.s12
							p.lead.text-muted
								if post.publishedDate
									| #{post._.publishedDate.format('MMMM Do, YYYY')} 
								if post.categories && post.categories.length
				.row.info
					.row.title
						.col.s12
							h5.valign-wrapper.wraplines: a(href='/blog/post/' + post.id)= post.title
					//- .row.brief
					//- 	p!= post.content.brief
					.row.author
						p.lead.text-muted
							if post.author
								| by #{post.author.name.first}

	block content
		.container: .row.top80.bot30
			h3.bot30= data.category ? data.category.name : 'Blog'
			p: a(href='/user/purchases'): span.meta-nav &larr; Back to my series

		.container: .row.bot80
			.col.s12.m12.l12
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.posts.results.length
						if data.posts.totalPages > 1
							h6.bot15.text-weight-normal Showing 
								strong #{data.posts.first}
								|  to 
								strong #{data.posts.last}
								|  of 
								strong #{data.posts.total}
								|  articles.
						else
							h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* article')}.
						.blog
							each post in data.posts.results
								+post(post)
						
						if data.posts.totalPages > 1
							.row
								.col.s12.m12.l12.top30
									if data.posts.results.length
										if data.posts.totalPages > 1
											h6.text-weight-normal Showing 
												strong #{data.posts.first}
												|  to 
												strong #{data.posts.last}
												|  of 
												strong #{data.posts.total}
												|  articles.
								.col.s12.m12.l12.top5.bot30
									ul.pagination
										if data.posts.previous
											li: a(href='?page=' + data.posts.previous): span: i.material-icons chevron_left
										else
											li.disabled: a(): span: i.material-icons chevron_left
										each p, i in data.posts.pages
											li(class=data.posts.currentPage == p ? 'active' : null)
												a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
										if data.posts.next
											li: a(href='?page=' + data.posts.next): span: i.material-icons chevron_right
										else
											li.disabled: a(): span: i.material-icons chevron_right
					else
						if data.category
							h3.text-muted There are no articles in the category #{data.category.name}.
						else
							h3.text-muted There are no articles yet.
			
			//- if data.categories.length
			//- 	.col.s4.m3
			//- 		h5 Categories
			//- 		.list-group(style='margin-top: 70px;')
			//- 			a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
			//- 			each cat in data.categories
			//- 				a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
