extends ../../layouts/default

block content
	.container
		.row.top30.bot30
			.col.s12.m4.l4
				img.responsive-img(src= "/images/logos/hb-logo-color-500px.jpg")
			.col.s12.m8.l8
				h3 Payment information
		.row.bot30.bot15
			.col.s12.m4.l4
				img.responsive-img(src= itemBought.images.url)
			.col.s12.m8.l8
				p Hey #{user.name.first}, your payment was successful on #{purchaseMethod}.
				p 
					b Payment ID:
					| #{paymentId}
				p 
					b Price: 
					| #{itemBought.price} $
				p 
					b Name of serie: 
					| #{itemBought.name}
				p
					b Date: 
					| #{purchaseDate}
		.row.bot80.text-center
			.col.s12.m6.l6.bot30
				a.btn.waves-effect.waves-light(href='/user/purchases') Your purchases
			.col.s12.m6.l6
				a.btn.waves-effect.waves-light(href='/blog/'+itemBought._id) Visit the programs