extends ../../../layouts/default
block content
	div.container.top30
		div.row
			div.col.s12.m12.l12.bot30
				h3= category.name
				!= category.description
	div.container.top15
		div.row
			div.col.s12.m3.l3
				img.activator.responsive-img(src= category.images.url)
			div.col.s12.m9.l9.bot30
				ul.collapsible(data-collapsible="accordion")
					each article, i in articles
						li#collapse-content
							div.collapsible-header
								a(href='#c'+i)
									!= article.title
							div(id='c'+i).col.s12.collapsible-body
								div.row.top15
									div.col.s12.m7.l7
										h5= article.title
										!= article.content.brief
									div.col.s4.m5.l5.hide-on-small-only
										img#img-content.activator.responsive-img(src= article.image.url)
					
		div.row.bot80.text-center.valign-wrapper.hide-on-small-only#pay
			if (!user)
					div.col.m4.l4
						h5 $#{category.price}
					div.col.m6.l6
						a.waves-effect.waves-light.btn(href="/keystone/signin") Sign in
					div.col.m6.l6
						a.waves-effect.waves-light.btn(href="/signup") Sign up
			else
				if alreadyBought === true
					div.col.m6.l6
						h5 You already have this program.
					div.col.m6.l6
						a.waves-effect.waves-light.btn(href="/user/purchases") Visit your purchases
				else
					div.col.m3.l3
						h5 $#{category.price}
					div.col.m5.l5
						input#input-hidden-id(type='hidden', value='#{category._id}')
						input#input-price-hidden-id(type='hidden', value='#{parseInt(category.price)}00')
						a#cc-buy-btn.waves-effect.waves-light.btn(href='#') Pay with Credit Card
					div.col.m4.l4
						a.waves-effect.waves-light.btn(href='/payment/checkout?productId='+ category.id) Pay with paypal
			
		
		div.row.bot80.text-center.hide-on-med-and-up#pay
			if (!user)
				div.col.s12.bot15
					h5 $#{category.price} - You have to log in before you make a purchase.
				div.col.s12.bot15
					a.waves-effect.waves-light.btn(href="/keystone/signin") Sign in
				div.col.s12.bot15
					a.waves-effect.waves-light.btn(href="/signup") Sign up
			else
				if alreadyBought === true
					div.col.s12.bot15
						h5 You already have this program.
					div.col.s12
						a.waves-effect.waves-light.btn(href="/user/purchases") Visit your purchases
				else
					div.row
						div.col.s12.bot15
							h5 $#{category.price}
					div.row
						div.col.s12.bot15
							a#cc-buy-btn.waves-effect.waves-light.btn(href='#') Pay with Credit Card
					div.row
						div.col.s12
							a.waves-effect.waves-light.btn(href='/payment/checkout?productId='+ category.id) Pay with paypal