extends ../../../layouts/default
block content
	div.container.top80
		div.row
			h2 Details
			div.col.s12.m12.l12
				h3= category.name
				p Description
				p= category.description
	div.container.top15
		div.row
			div.col.s12.m3.l3
				img.activator.responsive-img(src= category.images.url)
			div.col.s12.m9.l9   
				h5 Content
				ul.collapsible(data-collapsible="accordion")
					each article, i in articles
						if i == 0
							li
								div.collapsible-header
									a(href='#c'+i) 1
										| - 
										!= article.title
								div(id='c'+i).col.s12.collapsible-body
									div.row.top15
										div.col.s12.m7.l7
											h5= article.title
											!= article.content.brief
										div.col.s4.m5.l5.hide-on-small-only
											img.activator.responsive-img(src= article.image.url)
						else
							li
								div.collapsible-header
									a(href='#c'+i)= i+1
										| - 
										!= article.title
								div(id='c'+i).col.s12.collapsible-body
									div.row.top15
										div.col.s12.m7.l7
											h5= article.title
											!= article.content.brief
										div.col.s4.m5.l5.hide-on-small-only
											img.activator.responsive-img(src= article.image.url)
					
		div.row.bot80.text-center.valign-wrapper.hide-on-small-only#pay
			div.col.m4.l4
				p Price: #{category.price} $
			div.col.m4.l4
				input#input-hidden-id(type='hidden', value='#{category._id}')
				input#input-price-hidden-id(type='hidden', value='#{parseInt(category.price)}00')
				a#cc-buy-btn.waves-effect.waves-light.btn(href='#') Pay with Credit Card
			div.col.m4.l4
				a.waves-effect.waves-light.btn(href='/payment/checkout?productId='+ category.id) Pay with paypal
		
		div.row.bot80.text-center.hide-on-med-and-up#pay
			div.row
				div.col.s12
					p Price: #{category.price} $
			div.row
				div.col.s12
					a.waves-effect.waves-light.btn(href='#') Pay with Credit Card
			div.row
				div.col.s12
					a.waves-effect.waves-light.btn(href='/payment/checkout?productId='+ category.id) Pay with paypal