extends ../../layouts/default

block content
	div#articles.container.top30
		div.row
			div.row.bot15
				//-- h3 Programs
				//-- h6 Number of series currently: #{total}
			div.row
				if items
					each item in items
						.col.s12.m6.l4.top15
							.card.sticky-action(style='overflow: hidden;')
								.card-image.waves-effect.waves-block.waves-light
									img.activator.responsive-img(src= item.images.url)
								#card-action.card-action.row.text-center
									div.col.s12.m12.l12
										a#btn-card.waves-effect.waves-light.btn(href='/store/product/get?id='+item.id) Details
								.card-reveal(style='display: none; transform: translateY(0px); overflow: hidden;')
									span.card-title.grey-text.text-darken-4= item.name
										i.material-icons.right close
									p#truncate.justify= item.description
				else
					h4 Now no series.
	div#pagination.container.top30.bot80
		div.row
			p.pagination-count Showing #{first} - #{last} of #{total}
		if totalPages > 1
			div.row
				div.col
					ul.pagination
						li(class= previous ? '' : 'disabled')
							a(href= "get?page=" + previous)
								i.material-icons chevron_left
						each page, i in pages
							li(class= currentPage == page ? 'active' : null)
								a(href= "get?page=" + (page == '...' ? (i ? totalPages : 1) : page ))
									span= page
						li(class= next ? '' : 'disabled')
							a(href= "get?page=" + next)
								i.material-icons chevron_right